<div class="article">
  <p id="name"> <%= @article.name %> </p>
  <a class="user" href="/users/<%= @article.user.id %>"><%=@article.user.name %></a>
  <p class="date">date created: <%= @article.date_created %> </p>
  <p class="date">last edited:  <%= @article.edit_date %> </p>
  <ul class="sections">
    <% @article.sections.each do |section| %>
      <li>
        <p class="section-name"> <%= section.name %> </p>
        <a class="user" href="/users/<%= @article.user.id %>"><%=section.users.last.name %></a>
        <p class="date">last edited:  <%= section.edit_date %> </p>
        <% if @this_user %>
          <a class="edit-button" href="/articles/<%= @article.id %>/edit/<%= section.id%>">Edit</a>
        <%end%>
        <p class="content"><%= section.body %></p>
<!--         <p class="content"><%= $markdown.render(section.body) %></p> -->
      </li>
    <%end%>
    <% if @this_user %>
      <a class="link" href="/articles/<%= @article.id %>/sections/new"><div class="new-article">+</div></a>
    <%end%> 
  </ul> <!-- section -->
</div> <!-- article -->
<p></p><!--  just for space -->
<div class="comment-section">
  <p class="header">Comments:</p>
  <form action="/new/comment" method="POST">
    <% if @this_user %>
      <a class="link" href="/articles/<%= @article.id %>/comments/new"><div class="new-article">+</div></a>
    <%end%>
  </form>
  <ul class="comment">
    <% @article.comments.each do |comment| %>
    <li>
      <p class="name"> <%= comment.name %> </p>
      <a class="user" href="/articles/<%= @article.id %>"><%=comment.user.name %></a>
      <p class="date">last edited:  <%= comment.date_created %> </p>
      <p class="content"><%= comment.body %></p>
    </li>
    <p>--</p>
    <%end%> <!-- comment -->
  </ul>
</div> <!-- comment-section -->