<form action="/newarticle" method="POST">
  <button class="new-article">+</button>
</form>
<ul>
  <% @articles.each do |article| %>
    <li class="listing">
      <a class="name" href="/article/<%= article.id %>"> <%= article.name %> </a>
      <a class="user" href="/users/<%= article.user.id %>"><%=article.user.name %></a>
      <p class="date"> date created: <%= article.date_created %> </p>
      <p class="date"> last edited:  <%= article.edit_date %> </p>
      <p class="content"><%= Section.where(article.id).first.body  %></p> 
    </li>
    <p></p>
  <%end%>
</ul>
