
<!-- showing user info -->
<div id="user-show">
  <div class="to-the-left"><img class="user-image" src="<%= @user.img_url%>"></div>
  <div class="to-the-right">
      <%if @this_user && @user.id == @this_user.id %>
        <a class="name" href="/users/<%= @user.id %>">Me</a>
      <%else%>
        <a class="name" href="/users/<%= @user.id %>"> <%= @user.name %> </a>
      <%end%>
    <p class="user-info"><%= @user.email%></p>
    <p class="user-info">Age: <%= @user.age%></p>
  </div> <!-- to-the-right -->
</div>

<ul>
  <!-- getting user's first name: -->
  <%if @this_user && @user.id == @this_user.id %>
    <p class="header">My articles:</p>
  <%else%>
    <p class="header"><%=@user.name.split(" ")[0]%>'s articles:</p>
  <%end%>
  <% @articles.each do |article| %>
    <li class="listing">
      <a class="name" href="/articles/<%= article.id %>"> <%= article.name %> </a>
      <a class="user" href="/users/<%= @user.id %>"><%=article.user.name %></a>
      <p class="date"> date created: <%= article.date_created %> </p>
      <p class="date"> last edited:  <%= article.edit_date %> </p>
      <p></p>
    </li>
    <p></p>
  <%end%>
</ul>
<ul>
  <%if @this_user && @user.id == @this_user.id %>
    <p class="header">Sections I contributed to:</p>
  <%else%>
    <p class="header">Sections <%=@user.name.split(" ")[0]%> contributed to:</p>
  <%end%>
  <% @user.sections.each do |section| %>
  <!-- only print the sections for articles user did not author -->
    <%if section.article.user != @user%>
      <li class="listing">
        <a class="name" href="/articles/<%= section.article.id %>"> <%= section.article.name %> </a>
        <a class="user" href="/users/<%= @user.id %>"><%=section.article.user.name %></a>
        <p class="date"> date created: <%= section.article.date_created %> </p>
        <p></p>
      </li>
    <%end%>
    <p></p>
  <%end%>
</ul>


